@font-face {
  font-family: Norse-Bold;
  src: url("../assets/fonts/Norse-Bold.otf");
}

:root {
  box-sizing: border-box;
}

p {
  font-family: Norse-Bold;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
